[submodule "backend"]
	path = backend
	url = git@github.com:isu3ru/tech-assessment-backend-ascentic.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:isu3ru/tech-assessment-frontend-ascentic.git
